.spinner{
  width: 100px;
  height: 100px;
  border: 8px solid black;
  border-radius: 50%;
  border-top-color: gray;
  animation: spin 1s linear infinite;
}

.spinner .black{
  border-color : #808080;
  border-top-color:black;
}


@keyframes spin{
  to{
    transform: rotate(360deg);
  }
}