.button {
    font-family: arial;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    padding: 10px;
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;  
    margin-top: 15%;
    margin-left: 27%;
    margin-bottom: 10%;
    width: 50%;
}

.button-green{
    background-color: rgb(13, 80, 88);
    color:#fff;
    box-shadow: 0 2px 0  #073a49;
}

.button-green:hover{
    background-color: rgb(9, 51, 58);
    color:#fff;
    box-shadow: 0 2px 0  #0a4242;
}
