#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin-left: 35%;
  }
  
  .lista-dragon{
    margin:15px;
  }
  
  .lista-dragon article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7eeee;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
  }
  
  .lista-dragon strong{
    padding-bottom: 15px;
    font-size: 22px;
  }
  
  .lista-dragon article a{
    text-decoration: none;
    color: #FFF;
    background-color: rgb(17, 141, 120);
    font-size: 25px;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
   
  }