$color-green :rgb(17, 141, 120);
$color-gray: #f7eeee;
$align-center: center;

#container{
    display: flex;
    flex-direction: column;
    justify-content: $align-center;
    align-items: $align-center;
    width: 20%;
    margin-left: 40%;
  }
  
  div{
    width: 100%;
  }

  .lista-dragon{
    margin:15px;

    article{
      display: flex;
      flex-direction: column;
      justify-content: $align-center;
      align-items: $align-center;
      background-color: $color-gray;
      margin: 15px;
      padding: 15px;
      border-radius: 5px;
    }

    strong{
      padding-bottom: 15px;
      font-size: 22px;
    }

    a{
      text-decoration: none;
      color: $color-gray;
      background-color: $color-green;
      font-size: 25px;
      width: 100%;
      text-align: $align-center;
      padding-top: 10px;
      padding-bottom: 10px;
    }  
  } 

@media only screen and (max-width: 400px) {
    #container{
       width: 30%;
    }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
     #container{
      width: 60%;
      margin-left: 20%;
   }
}

@media only screen and (min-width: 961px) {
    #container{
      width: 100%;
  }
}
