$color-green:rgb(17, 141, 120);
$align-center: center;

#containerDetail{
  display: flex;
  flex-direction: column;
  justify-content: $align-center;
  align-items: $align-center;
  width:60%;
  margin-left: 32%;
  margin-top: 5%;
  background-color:#dfebec;
  box-shadow: 0 0 5px black;
}

.lista-dragon-unit{
  margin:15px;
  article{
    display: flex;
    flex-direction: column;
    justify-content: $align-center;
    align-items: $align-center;
    background-color: #dfebecab;
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
  }

  strong{
    padding-bottom: 15px;
    font-size: 22px;
  }

  a{
    text-decoration: none;
    color: $color-green;
    background-color: $color-green;
    font-size: 25px;
    width: 100%;
    text-align: $align-center;
    padding-top: 10px;
    padding-bottom: 10px;
  }  
}

@media only screen and (max-width: 400px) {
  #containerDetail{
     width: 30%;
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
   #containerDetail{
    width:50%;
 }
}

@media only screen and (min-width: 961px) {
    #containerDetail{
      width: 30%;
      margin-left: 33%;
  }
}
